body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1250px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.h1one{
    color: #4cff03;
    
}

.h1two{
    color: #00bfff;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #4cff03;
    transition: 0.3s all;
}

#conta-btn{
    border: 2px solid #4cff03;
    border-radius: 15px;
    padding: 7px;
}

#conta-btn:hover{
    background-color: #00bfff;
    color: black;
}

h1{
    font-weight: 200;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 15px;
    font-family: poppinsmedium;
}

span{
    color: #4cff03;
}

.new{
    color: #00bfff;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    margin-left: 80px;
    width: 550px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form [type="submit"]{
    height: 45px ;
    width: 65%;
    background-color: #00bfff;
    color: black;
    align-self: center;
    
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: #4cff03;
}

input{
    margin-top: 20px;
    height: 15px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}



